<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <main id="main-content" class="bg-white">
        <section id="hero" class="py-10 md:py-20">
            <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
                <div class="hero-content max-w-lg">
                    <h1 class="hero-title text-4xl md:text-5xl font-bold mb-4">Bienvenido a nuestro sitio web</h1>
                    <p class="hero-description text-lg md:text-xl mb-4">{CONTENT}</p>
                    <a href="#reservas"
                        class="btn btn-primary inline-block bg-blue-500 text-white px-6 py-3 rounded-md text-lg font-semibold transition duration-300 hover:bg-blue-700">Reserva
                        ahora</a>
                </div>
                <img src="https://i.ytimg.com/vi/sWXRJbGi6yQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAmzgGJ6J0eLasWLgYE-TcZgyiSJQ"
                    alt="Imagen Hero" class="hero-image max-w-lg md:max-w-xl ml-0 md:ml-10 mt-8 md:mt-0">
            </div>
        </section>
        <section id="about" class="bg-white py-10 md:py-20">
            <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
                <img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2021/12/23/61c456cc62a0b.r_d.2520-1680-0.jpeg"
                    alt="Imagen Sobre Nosotros" class="about-image max-w-lg md:max-w-xl mr-0 md:mr-10">
                <div class="about-content max-w-lg">
                    <h2 class="about-title text-3xl md:text-4xl font-bold mb-4">Sobre Nosotros</h2>
                    <p class="about-description text-base md:text-lg mb-4">{CONTENT}</p>
                    <p class="about-description text-base md:text-lg mb-8">{CONTENT}</p>
                </div>
            </div>
        </section>
        <section id="contact" class="bg-white py-10 md:py-20">
            <div class="container mx-auto flex flex-col items-center justify-center px-4">
                <div class="about-content max-w-lg text-center">
                    <h2 class="about-title text-3xl md:text-4xl font-bold mb-4">¡Contáctanos!</h2>
                    <p class="about-description text-base md:text-lg mb-4">{CONTENT}</p>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="bg-gray-200 py-6">
        <p class="text-center text-sm md:text-base">Derechos de autor © 2024 Restaurante Delicioso. Todos los derechos
            reservados.</p>
    </footer>
</body>

</html>